/*-----------------------------------------google-fonts---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*------------------------------------------ header-style ---------------------------------------*/
.header-part{
    display: flex;
    justify-content: space-between;
    margin: 50px 120px;
}
.options{
    display: flex;
    list-style: none;
}
.options li{
margin:0px 10px;
}
.options li a{
    color: #3A3A3A;
    text-decoration: none;
}
/*---------------------------------------------- banner-part------------------------------------ */

.banner-info{
    display: flex;
    margin: 50px 120px;
}
.left-banner{
width: 50%;
height: 270px;
margin-top: 140px;

}
.right-banner{
    background-image: url(./images/Circle\ design.svg);
    margin-left: auto;
}

/*--------------------------------------------------brands-part --------------------------------------*/

.brands-part{
    margin:50px 120px;
}
.brands-logo{
    display: flex;
    justify-content: center;
}
.brands-logo img{
    margin: 25px;
}

/*------------------------------------------------ collection-part---------------------------------- */

.popular-collections{
    /* height: 1662px; */
    margin: 70px 120px;
    
}
 .popular-collections .collection-header{
    text-align: center;
margin: 0px 0px 25px 0px;
}
.product{
    /* width: 330px;
    height: 476px; */
    margin: 15px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 0px 10px 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
}
    
.products-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* align-items: center; */
    justify-content: center;
background-color: rgba(224, 212, 212, 0.15);
}
.product .ratings{
    display: flex;
}
.fa-star.filled{
    color: #FB8200;
}
.point{
    margin-left: 30px;
}
.popular-collections .right-arrow{
margin: 20px;
    }
.popular-collections .right-arrow>a{
    position: relative;
    text-decoration: none;
    left:990px;
}

/*----------------------------------------------------------bonus-part--------------------------------------- */

.bonus-part{
    margin:50px 120px;
}
.bonus-contents{
    display: flex;
}
.bonus-left{
    width: 50%;
    align-items: center;
}
.bonus-left img{
    width: 400px;
    height: 300px;
    align-items: center;
}
.bonus-right{ 
    height: 225px; 
    width: 610px;
    align-items: center;
    margin: 70px 30px 10px 5px;
}

.bottom-part{
    color: #FFFFFF;
    background-color: rgb(39, 39, 63);
    text-align: center;
}
.bottom-logo{
    display: flex;
    justify-content: center;
}
.final-logo{
    margin: 10px;
}