/*-----------------------------------------google-fonts---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner-info{
    display: flex;
}
.brands-logo{
    display: flex;
}
.products-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.bonus-contents{
    display: flex;
}
.bottom-part{
    color: #FFFFFF;
    background-color: rgb(39, 39, 63);
    text-align: center;
}
.bottom-logo{
    display: flex;
    justify-content: center;
}
.final-logo{
    margin: 10px;
}